*.venv

# Ignorar entornos virtuales
.venv/
venv/
env/

# Archivos de Python
__pycache__/
*.py[cod]
*.pyo

# Archivos de configuración de IDEs
.vscode/
.idea/

# Archivos de sistema
.DS_Store
Thumbs.db

# Archivos de logs
*.log

# Archivos de configuración
.env
